@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #009439; /* brand color */
  --secondary: #f7f7f7; /* card */
  --accent-a: #aaa928; /* flow line color 1 */
  --accent-b: #539343; /* flow line color 2 */
  --accent-c: #7F7FFB; /* flow line color 3 */
  --muted: #d0d0d0; /* inside card lower opacity */
  --muted-foreground: #5f5f5f;
  --border: #d1d5db;
  --critical: #ff4714;
  --major: #ffa500;
  --warning: #c5a0fb;
}

.dark {
  --background: #212121;
  --foreground: #ffffff;
  --primary-rgb: #009439; 
  --secondary: #333333;
  --accent-a: #fcfc3e; /* flow line color 1 */
  --accent-b: #75CA59; /* flow line color 2 */
  --accent-c: #D9D9FE; /* flow line color 3 */
  --muted: #494949;
  --muted-foreground: #b7b7b7;
  --border: #676767;
  --critical: #ff4714;
  --major: #ffa500;
  --warning: #c5a0fb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --background-rgb: #fff;
    --foreground-rgb: blue;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body > * {
  font-family: var(--font-kanit);
  /* font-family: var(--font-urbanist); */
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (min-width: 1920px) {
  body > * {
    font-size: 1rem;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 4px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
