@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #fff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: #fff;
    /* --foreground-rgb: 255, 255, 255; */
    --foreground-rgb: blue;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body > * {
  font-family: var(--font-kanit);
  /* font-family: var(--font-urbanist); */
  font-size: 0.985rem;
  font-weight: 300;
  /* line-height: 1.5; */
}

@media screen and (min-width: 1920px) {
  body > * {
    font-size: 1rem;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 4px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
